/* You can add global styles to this file, and also import other style files */
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #e7e7e7 !important;
}
